/* variables for reuse */
:root {
  --primary-color: #3F51B5;
  --secondary-color: #283593; /* darker version of primary color */
  --accent-color: #4DD0E1;
  --primary-text-color: white;
  --link-text-color: white;
}

html {
  overflow: scroll;
}

a {
    color: var(--link-text-color);
}

.myNavBar {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  font-family: 'Roboto';
}

#graph-title {
  position: absolute;
  margin: 80px;
  color: red;
}

/* need to overwrite material-ui inline styles */
#fs-button {
  position: absolute !important;
  width: auto !important;
  margin-right: 0;
}

body {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
}

#info {
  color: var(--primary-text-color);
  position: absolute;
  top: 0px; 
  width: 100%;
  padding: 5px;

}

.axis-labels {
  width: 45% !important;
  margin-left: 2px !important;
  text-size: 12px !important;
}

.full-width {
  width: 100% !important;
}

.bold-text {
  font-weight: bold;
}

.infoDiv p, h5 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: right;
}