/* variables for reuse */
:root {
  --primary-color: #006064;
  --secondary-color: #00BCD4; /* lighter version of primary color */
  --accent-color: #4DD0E1;
  --primary-text-color: white;
  --link-text-color: white;
}

html {
  overflow: scroll;
}

a {
  color: var(--link-text-color);
}
span {
  color: red;
}
.myNavBar {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-text-color);
  font-family: 'Roboto';
}

#graph-title {
  position: absolute;
  margin: 80px;
  color: #FF6F00;
}
#text{
    font-size: 20px;
    color: red;
    margin-top: -100px;
    margin-left: 100px;
    z-index: 1;
    position: absolute;
}

body {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
}

#info {
  color: var(--primary-text-color);
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;

}

input {
   margin-top: 0px !important;
}

textarea {
  margin-top: 0px !important;
}

.axis-labels {
  margin-left: 2px !important;
  text-size: 12px !important;
}

.full-width {
  width: 100% !important;
}

.bold-text {
  font-weight: bold;
}

.infoDiv p, h5 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: right;
}

.img {
    position: relative;
    float: left;
    width:  300px;
    height: 300px;
    margin-bottom: 50px;
/*    background-position: 50% 50%;*/
    background-repeat:   no-repeat;
/*    background-size:     cover;*/
}

.btn-close {
  float: left;
}